.section {
  margin-top: 150px;
  margin-bottom: 150px;
  color: #191919;
  font-family: var(--font-montserrat), sans-serif;
}

.layout {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 60px;
}

@media (max-width: 900px) {
  .layout {
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 560px) {
  .section {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .layout {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .layout {
    gap: 30px;
  }
}

@media (max-width: 350px) {
  .layout {
    gap: 50px;
    margin-top: 30px;
  }
}

@media (max-width: 315px) {
  .section {
    margin-top: 120px;
  }
}
